Consumer/src/conf/xml-resources/web-service-references/Service/wsdl/adgangsstyring.eksterntest-stoettesystemerne.dk_8181/Service/Service.xsd_4.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://kombit.provider.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://kombit.provider.dk/">

<xs:element name="ping" type="tns:ping"/>

<xs:element name="pingResponse" type="tns:pingResponse"/>

<xs:complexType name="ping">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pingResponse">
<xs:sequence>
<xs:element name="KombitProfile" type="xs:string" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>